body{
    background-image: url("img4/bali.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.signup{
    border:2px solid rgb(5, 3, 3);
    height:450px;
    width: 390px;
    margin:100px 500px;
    border-radius: 10px;
    box-shadow: 2px 3px 8px 2px rgb(19, 16, 16);
    backdrop-filter: blur(3px);
}

lable{
    margin-left: 30px; 
    font-size:20px;   
}

input{
    outline: none;
}

h1{
    text-align: center;
    font-size: 35px;
    font-family: sans-serif;
    color: whitesmoke;
}

.fn{
    margin-left: 50px;
    margin-top: 25px;
    height:20px;
    border-radius: 8px;
    background: transparent;
}
.ln{
    margin-left: 52px;
    margin-top: 25px;
    height:20px;
    border-radius: 8px;
    background: transparent;
}
.ph{
    margin-left: 57px;
    margin-top: 25px;
    height:20px;
    border-radius: 8px;
    background: transparent;
}
.email{
    margin-left: 81px;
    margin-top: 25px;
    height:20px;
    border-radius: 8px;
    background: transparent;
}
.pass{
    margin-left: 55px;
    margin-top: 25px;
    height:20px;
    border-radius: 8px;
    background: transparent;
}

.button{
    margin-left: 130px;
    margin-top: 35px;
    padding:12px 50px;
    font-size: 15px; 
    border-radius: 8px;
    font-weight:bold;    
    background-color:rgb(4, 155, 11);  
    border:none;
    color:whitesmoke;      
    cursor:pointer;  
    font-family: sans-serif;
}

a{
    text-decoration: none;
    color: whitesmoke;
}

.button:hover{
    color:white;
    background-color:rgb(4, 189, 4) ;
}