body{
    background-color: #072e33;
    background-size: 100% 800px;
}

div{
    height:200px;
    width:500px;
    margin:190px 450px;
    border:2px solid whitesmoke;
    border-radius: 10px;
    background: transparent;
    box-shadow: 0px 0px 16px 0px rgb(241, 241, 241);
    animation: success 1s ease-in-out;
}

@keyframes success{
    0%{transform:translateY(-200%)}
}

p{
    font-family: Verdana, sans-serif;
    font-size: medium;
    font-weight: bold;
    text-align: center; 
    margin-top: 50px; 
    color:whitesmoke;  
} 

button{
    margin-top: 10px;
    margin-left:200px;
    padding: 10px 30px;
    border-radius:7px;
    border:none;
    cursor: pointer;
    background-color: blue;
    font-weight: bolder;
    font-size:15px;
    box-shadow: 0px 0px 10px 0px whitesmoke;
}

a{
    text-decoration:none;
    color:whitesmoke;
}

button:hover{
    background-color: rgb(43, 43, 194);
    color: whitesmoke;

}